:host {
  display: block;
}

ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  list-style: none;
  margin-top: .5em;
  transition-property: width;
  transition-duration: .5s;
  overflow: hidden;
}

ul:first-child{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: var(--ocre, yellow);
  padding: .5em;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1em;
}

span{
  line-height: 2em;
  vertical-align: top;
  padding: .5em;
}

li{
  overflow: hidden;
  height: 2em;
}

.deploye{
  width: 10em;
}

.reduit{
  width: 3em;
}

nav{
  width: 100%;
  height: 100%;
  background-color: var(--rouge-fonce, firebrick);
}
