.example-container {
  position: absolute;
  top: 5em;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../assets/img/structure/wood048.jpg') linen;
}

mat-sidenav
{
  background-color: var(--rouge-fonce);
}
