/* You can add global styles to this file, and also import other style files */
:root{
  --rouge-fonce: firebrick;
  --ocre: goldenrod;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
/* body { margin: 0; font-family: Georgia, serif; } */

main{
  width: 80%;
  margin: auto;
  padding: 1em;
  font-size: 2rem;
  line-height: 2rem;
  font-family: Georgia, serif;
  color: black;
}

h2{
  font-size: 3rem !important;
}

h3{
  font-size: 2.5rem !important;
}

/*media queries*/

/*grand écran*/
@media screen and (max-width: 925px){

}

@media screen and (min-width:811px){
  main{
    min-width: 430px;
  }
}

/* smartphone S*/
@media screen and (min-width:575px) and (max-width:810px){
  main{
    min-width: 430px;
  }
}

/* smartphone XS */
@media screen and (max-width:574px){
  main{
    width: 90%;
    font-size: 1.2rem;
  }
}
